<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.temporary.id.sub.1</string>
	<string>com.temporary.id.sub.2</string>
	<string>com.temporary.id.sub.3</string>
	<string>com.temporary.id.sub2.1</string>
</array>
</plist>
